name: "Sorted PRO Docs"
trigger:
  branches:
    include:
    - master
    - feature/*
    - develop/*

variables:
  - name: pool
    value: linux-agents-standard
  - name: netlify-cli-version
    value: '2.12.0'
  - group: DocFXSettings
  - group: AzureContainerRegistry-SortedGroup
  - name: imageName
    value: sorted.docs
  - name: KubernetesClusterConnection
    value: sorted-pro-aks-dev-02
  - name: chartPath
    value: helm/sorted-docs 

stages:
- stage: DockerBuild
  jobs:
  - job: "Prepare"
    pool:
      name: $(pool)
    steps:
    - template: pipeline/templates/gitversion.yml
    - template: pipeline/templates/docker.yml
    - template: pipeline/templates/helm.yml
    - template: pipeline/templates/publish.yml
# - stage: NetlifyBuild
#   jobs:
#   - job: "BuildAndPublish"
#     pool:
#       name: $(pool)
#     steps:
#     - template: pipeline/docfx.yml
#     - template: pipeline/publish.yml
- stage: Deploy
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/develop/internal')
  jobs:
  - job: Deploy
    pool:
      name: $(pool)
    steps:
    - template: pipeline/netlify.yml
    - template: pipeline/deploy.yml