@media print {
    
    body {
        line-height: 1.3;
    }

    ul {
        line-height: 1.5;
    }

    pre, blockquote, code {
        page-break-inside: avoid;
    }

    .spacer {
        height:20px;
        width:100%;
        margin: 5px;
    }
    /* h2 { 
        page-break-before: always;
    } */
    
    h3,
    h4,
    h5 {
        page-break-after: avoid;
    }

    .note {
        text-transform: uppercase;
        font-weight: bold;
        margin-top:0;
        margin-bottom: 5px;
    }

    .mermaid {
        margin: 0 auto;
        text-align: center;
        page-break-inside: avoid;
        max-width: 18cm !important;
        max-height: 20cm !important;
    }

    svg {
        max-height: 17cm !important;
        max-width: 20cm !important;
    }

    div {
        page-break-inside: avoid;
    }

    blockquote {
        margin: 0;
    }

    :not(pre):not(.hljs) > code {
        padding: 2px;
    }

    table tr td:nth-child(1),
    table tr td:nth-child(2) {
        white-space: nowrap;
    }

    table.wrap tr td:nth-child(2) {
      white-space: initial;
    }

    .vscode-body table, table {
      overflow: initial;
    }
}