:root {
    --colour-dark: #404040;
    --colour-main: #ff055e;
    --colour-light-grey-1: #eee;
    --colour-light-grey-2: #ddd;
}

@font-face {
    font-family: 'Circular Pro Book';
    src: url("../fonts/Book/lineto-circular-pro-book.eot?") format("embedded-opentype");
    src: url("../fonts/Book/lineto-circular-pro-book.woff2?") format("woff2");
    src: url("../fonts/Book/lineto-circular-pro-book.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Bold';
    src: url("../fonts/Bold/lineto-circular-pro-bold.eot?") format("embedded-opentype");
    src: url("../fonts/Bold/lineto-circular-pro-bold.woff2?") format("woff2");
    src: url("../fonts/Bold/lineto-circular-pro-bold.woff?") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Black';
    src: url("../fonts/Black/lineto-circular-pro-black.eot?") format("embedded-opentype");
    src: url("../fonts/Black/lineto-circular-pro-black.woff2?") format("woff2");
    src: url("../fonts/Black/lineto-circular-pro-black.woff?") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Medium';
    src: url("../fonts/Medium/lineto-circular-pro-medium.eot?") format("embedded-opentype");
    src: url("../fonts/Medium/lineto-circular-pro-medium.woff2?") format("woff2");
    src: url("../fonts/Medium/lineto-circular-pro-medium.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Circular Pro Book', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    height: 100%;
    color: #404040;
    font-size: 16px;
}

@media (min-width:1500px) {
    .container {
        width: 1470px
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {

    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2 {
    font-family: 'Circular Pro Black', 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

h3,
.h3,
h4,
.h4 {
    font-family: 'Circular Pro Book', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 25px 0 15px 0;
    font-weight: 700;
}

p {
    margin: 0 0 15px 0;
    line-height: 1.7rem;
}

.breadcrumb li>a {
    color: #666;
}

article h1 {
    font-size: 2.4em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;
}

article h2 {
    font-size: 1.65em;
}

.highlight {
    background-color: yellow;
}

article h4 {
    font-size: 1.2em;
    border: none;
    padding-bottom: 8px;
    margin-top: 30px;
}

button,
a {
    color: #ff055e;
    cursor: pointer;
    font-weight: normal;
}

a:hover,
a:focus,
a:visited,
a:active {
    color: #ff055e;
    text-decoration: underline;
}

.sidetoc a {
    font-weight: bold;
}

article a {
    text-decoration: underline;
}

code {
    font-size: 16px;
    color: #261c4c;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

table code {
    overflow-x: visible;
    word-break: normal;
}

pre {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 13px;
    overflow-x: visible;
    word-break: normal;
}

pre code {
    white-space: pre;
}

.affix>ul>li.active>a,
.affix>ul>li.active>a:before {
    color: #ff055e;
}

.affix ul>li.active>a,
.affix ul>li.active>a:before {
    color: #ff055e;
}

.affix ul ul>li>a:before {
    content: "|"
}

blockquote {
    font-size: 16px;
    width: 100%;
    margin: 22px auto;
    color: #605d58;
    padding: 20px 80px 15px 30px;
    border-left: 4px solid #ff055e;
    line-height: 1.7;
    position: relative;
    background: #ffebf3;
    border-radius: 0px 18px 18px 0px;

    @include media(">=large") {
        font-size: 18px;
        margin: 30px auto;
    }
}

span.note-header {
    display: block;
    margin-bottom: 10px;
    color: #605d58;
    font-size: 17px;
    font-family: 'Circular Pro Black';
    font-weight: bold;
}

ol,
ul {
    margin: 12px 0 15px 0;
    padding-left: 32px;
}

ol li,
ul li {
    margin: 0 0 5px 0;
}

ol ol,
ul ol {
    list-style-type: lower-alpha;
    margin-top: 0;
    margin-bottom: 10px;
}

ol ul,
ul ul {
    list-style-type: circle;
    margin-top: 0;
    margin-bottom: 10px;
}

ol pre,
ul pre {
    margin: 15px 0 25px 0;
}

pre {
    margin: 20px 0 25px 0;
    border: none;
}

hr {
    margin: 30px 0;
}

.navbar-inverse {
    background-color: #494B52;
    border-bottom: 0 none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    /*
    border-bottom: solid 2px #ff055e;
    font-weight: bold;
    padding: 0 0 4px 0;
    margin: 19px 15px 11px 15px;*/
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    /*background-color: transparent;*/
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #FFF;
    margin-top: 4px;
}

.navbar-inverse .navbar-brand {
    padding-top: 6px;
    margin-top: 4px;
}

.navbar-nav li {
    margin: 0 0 0 15px;
}

.navbar-nav li:hover {
    border-bottom: 2px #FFF solid;
}

.navbar-nav li.active,
.navbar-nav li.active:hover {
    border-bottom: 2px #ff055e solid;
}

.replaced-svg {
    width: 91.69px !important;
    height: 40px !important;
    margin-top: 4px;
}

.navbar {
    padding: 1px;
    min-height: 40px;
}

.subnav {
    font-size: 11pt;
    height: 40px;
    border-bottom: 0 none;
}



/* Front Page Styles */

div.index-container {
    border: 1px solid #ff055e;
    display: grid;
    grid-template-columns: 33% 67%;
    width: 100%;
    grid-column-gap: 0%;
}

div.index-button {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #333;
    height: 100px;
}

div.button-element {
    border: 1px solid #333;
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 100%;
}

div.button-element p {
    margin: 0;
}

/* API Ref Styles */

div.headercontainer {
    width: 100%;
    margin-bottom: 20px;
}

div.refcontainer {
    padding: 16px 12px;
    border: 2px solid #ddd;
}

div.refdivider:first-child {
    width: 100%;
}

div.refdivider:nth-child(2) {
    margin-right: 2%;
}

div.tabcontent div.refdivider:first-child {
    width: 49%;
    margin-right: 2%;
}

div.tabcontent div.refdivider:nth-child(2) {
    margin-right: 0;
}

div.refdivider {
    width: 49%;
    float: left;
}

/* SDK Ref Styles*/

div.inheritedMembers,
div.inheritance,
div.implements {
    font-size: 12px;
}

div.inheritedMembers h5,
div.inheritance h5,
div.implements h5,
h5.returns,
h5.parameters,
h5.declaration {
    font-family: 'Circular Pro Black', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    border-bottom: none;
    padding-bottom: 1.5px;
    padding-top: 5px;
}

h3#constructors,
h3#methods {
    margin-top: 40px;
    font-size: 1.5em;
    margin-bottom: 0;
}

article span.small.pull-right {
    display: none;
}

@media (width: 768px) {
    #sidetoggle.collapse {
        display: none;
    }

    #sidetoggle.collapse[aria-expanded="true"] {
        display: block;
    }
}

@media (min-width: 769px) {
    #sidetoggle.collapse {
        display: block;
    }
}

.article img {
    border: 1px solid #ccc;
}

img.noborder {
    border: none;
}

.affix ul>li.active>a {
    color: #ff055e;
}

.sidetoc {
    background-color: #fff;
    border: 0 none;
    top: 155px;
}

div.toc {
    margin: 0;
    padding: 5px 0 15px 18px;
    background-color: #fff;
}

.toc .level1>li.active {
    background-color: #fff;
}

ul.level1 {
    margin-left: 0;
}

.toc .nav>li.active>a {
    color: #000000;
}

.toc .nav>li.active>a:hover {
    color: #000000;
}

.toc .level1>li,
.toc .level1>li>a {
    margin-bottom: 0.2em;
}

.toc .level2>li>a:hover {
    text-decoration: underline;
    ;
}

.sidefilter {
    background-color: #fff;
    border: 0 none;
    top: 102px;
}

.toc-filter {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    font-size: 0.875rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.108);
}

.toc-filter:hover {
    border-color: #ff055e;
}

.toc-filter:active,
.toc-filter:focus {
    border: solid 1px #ff055e;
}

.toc-filter .filter-icon {
    color: #bbb;
}

.sideaffix>div.contribution>ul>li>a.contribution-link:hover {
    text-decoration: underline;
}

/*Tab styles*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #e3e3e3;
    border-bottom: 0 none;
    width: auto;
    background-color: #f2f2f2;
    position: relative;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #f2f2f2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 700;
    font-family: "Circular Pro Book";
    color: #404040;
    transition: 0.4s all;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ccc;
    transition: 0.4s all;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
    color: #ff055e;
}

/* Style the tab content */
.requestTabContent,
.responseTabContent {
    display: none;
    padding: 16px 12px;
    border: 1px solid #e3e3e3;
}

button.staticTabButton {
    padding: 7px 16px;
    background-color: #f2f2f2;
    color: #404040;
    cursor: default;
}

.staticTabContent {
    display: block;
    padding: 0;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

.staticTabContent:hover {
    /*cursor: pointer;
    border: 1px solid #999;*/
}

.requestTabContent pre,
.responseTabContent pre,
.staticTabContent pre {
    margin: 0;
}

/* Collapse styles*/
button.collapsible {
    background-color: #f1f1f1;
    color: #404040;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

button.activate,
.collapsible:hover {
    background-color: #ddd;
    color: #ff055e;
}

.collapsecontent {
    padding: 16px 12px;
    display: none;
    overflow: hidden;
    background-color: white;
    border: 2px solid #ddd;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.activate:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.copy {
    margin-left: 5px;
}

.copybutton {
    border: none;
    border-left: 1px solid #e3e3e3;
    color: #ff055e;
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0 auto;
    padding: 9px;
    height: 100%;
    right: 0;
    position: absolute;
    min-width: 90px;
    transition: all 0.4s;
}

.copybutton:hover {
    background: #ff055e;
    color: #fff;
}

.copy-success,
.copy-success:hover,
.copy-success:active {
    background-color: #128712;
    color: #ffffff;
    cursor: default;
    transition: all 0.4s;
}

div.copycontent pre {
    margin: 0;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

div.copycontent pre:hover {
    border: 1px solid #ff055e;
    cursor: pointer;
}

div.copycontent {
    padding: 0;
}

div.tabcontent div.copycontent {
    padding: 0;
}

div.copyheader {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
}

.collapsible h2 {
    margin: 0;
    display: inline-block;
    color: #404040;
}

.collapsible h2:hover {
    color: #404040;
}

div.table-responsive {
    padding: 0;
}

table.flowTable,
table.endpointTable {
    width: 100%;
    table-layout: fixed;
    margin: 10px 0 20px 0;
}

table.flowTable tr td {
    width: 50%;
    background-color: #fff;
    padding: 10px;
}

table.flowTable tr td pre {
    margin: 0;
    padding: 10px;
}

table.flowTable tr th {
    background-color: #fafafa;
    padding: 10px;
}

/*Menu Buttons*/

div.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.15em solid #404040;
    margin: 0 0.5em 1em 0.5em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #404040;
    text-align: center;
    transition: all 0.2s;
    width: 20%;
    max-height: 130px;
}

div.button1:hover {
    color: #ff055e;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    div.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 750px;
    margin: 30px auto 0;
    width: 100%;
}

@media all and (max-width: 768px) {
    .button-container {
        grid-template-columns: unset;
        grid-gap: unset;
        margin: unset;
    }
}

.button-container a,
.button-container a:hover,
.button-container a:visited {
    color: #404040;
}

.homepage-container {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 20px 20px 28px;
    user-select: none;
    text-decoration: none;
    float: left;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);
    background-color: #f9f9f9;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
}

.homepage-container:hover {
    -webkit-transform: scale(1.013);
    -ms-transform: scale(1.013);
    transform: scale(1.013);
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.anchorjs-link:hover {
    text-decoration: none;
}

.homepage-container:hover>h2 {
    color: #ff055e;
}

.homepage-container .anchorjs-link {
    display: none !important;
}

div.header-container {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

@media all and (max-width: 768px) {
    div.header-container {
        padding: 5px 0;
    }
}

.text--header {
    font-size: 5em;
    line-height: 1.09;
    letter-spacing: -0.35625rem;
}

.text--underlined span {
    position: relative;
}

.text--underlined span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    background-color: #ff055e;
}

@media all and (max-width: 762px) {
    .text--underlined span:before {
        height: 4px;
        bottom: 10px;
    }
}

.text--center {
    text-align: center;
}

@media (min-width: 992px) {
    .text--underlined span:before {
        height: 9px;
        bottom: -4px;
    }
}

h1#big-header {
    font-size: 5em;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media all and (max-width: 768px) {
    h1#big-header {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* syntax highlighting */
.hljs-emphasis,
.hljs-quote,
.hljs-string,
.hljs-strong,
.hljs-template-variable,
.hljs-variable {
    color: #ff055e;
}

pre {
    background-color: #fff;
}

.hljs-attr,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-title {
    color: #ff055e;
}

/* search */
#search-results>.search-list,
#search-results .item-title > a {
    font-family: "Circular Pro Black";
    color: var(--colour-dark);
}

.sr-item>.item-href {
    color: var(--colour-main);
}

.pagination>.active>a {
    background-color: var(--colour-main);
    border-color: var(--colour-main);
}

/*.pagination>.active>a,*/
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: var(--colour-dark);
    border-color: var(--colour-dark);
}

.pagination>li>a {
    color: var(--colour-main);
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: var(--colour-dark);
    background-color: var(--colour-light-grey-1);
    border-color: var(--colour-light-grey-2);
}

.mark, mark {
    padding: unset;
    background-color: var(--colour-light-grey-1);
    border-radius: 3px;
}

#search-query.form-control:hover {
    border: 1px solid var(--colour-main);
}