openapi: 3.0.1
info:
  title: Sorted Shipments API
  description: "# Introduction\r\n\r\nCurrent document version: 1.0.0.\r\n                                               \r\nPRO's Shipments functionality was introduced as an extension to the previous Consignments API suite. PRO's Shipments API collection offers unparalleled flexibility, with support for on-demand collections from multiple locations (e.g. a ship-from-store model) as well the regular scheduled fulfilment centre collections supported by Consignments.\r\n                                                \r\nShipments also offers the ability to group shipments together for ease of management, an improved dangerous goods specification and enhanced customs functionality, among many other features.\r\n                                                \r\nAll API calls require a valid `x-api-key` header to be provided; without this header you will receive a `401 Unauthorised` response.\r\n                                                \r\nThis API is documented in [OpenAPI format v3.0](https://swagger.io/specification/). If you spot any errors in this documentation, please drop us an email at [support@sorted.com](mailto:support@sorted.com).\r\n                                                \r\n# Errors\r\n                                                \r\nThe Shipments API uses standard HTTP response codes to indicate the success or failure of each API call. The body of an unsuccessful response will be in JSON in the following format:\r\n                                                \r\n```json\r\n{\r\n  \"correlation_id\": \"6c4e6a77-feab-42ab-9d7b-f559dc1b90ca\",\r\n  \"code\": \"validation_error\",\r\n  \"message\": \"A provided property has an invalid format\",\r\n  \"details\": [\r\n    {\r\n     \"property\": \"addresses[0].contact.contact_details.email\",\r\n     \"code\": \"invalid_format\",\r\n     \"message\": \"'test@something' is not a valid email address\"\r\n    }\r\n  ],\r\n  \"_links\": [\r\n    {\r\n      \"href\": \"https://api.sorted.com/pro/api/shipments/errors/400_invalid_format.html\",\r\n      \"rel\": \"documentation\",\r\n      \"reference\": \"invalid_format\" \r\n    }\r\n  ]\r\n}\r\n```\r\n                                                \r\n# Authentication\r\n                                                \r\nThis API requires an API key of `x-api-key` with every request.\r\n                                                \r\nYou will receive an initial API key your account is created. Requests _without_ an `x-api-key` header will be rejected with a `401 Access Denied` response.\r\n                                                \r\n<SecurityDefinitions />\r\n                                                \r\n# API Version\r\n                                                \r\nThe current version of all APIs is `1.1`. **All** requests require a header of `x-api-version` with a value of `1.1`. Any request without this value will be rejected.\r\n                                                \r\n| Required Header | Value |\r\n|-----------------|:-----:|\r\n| `x-api-version` | `1.1` |\r\n                                                \r\n# Content Types\r\n                                                \r\nThe Sorted Shipments API supports `application/json` only.\r\n                                                \r\nAll requests should include the following headers:\r\n                                                \r\n| Required Header | Value |\r\n|-----------------|:-----:|\r\n| `Accept`        | `application/json` |\r\n| `Content-Type`  | `application/json` |\r\n                                                \r\n# Compression\r\n                                                \r\nThe Sorted Shipments API supports `gzip` compression which can be enabled with the following header:\r\n                                                \r\n| Header | Value |\r\n|--------|:-----:|\r\n| `Content-Encoding` | `gzip` |"
  contact:
    name: Sorted Support
    email: support@sorted.com
  version: '1.1'
servers:
  - url: https://api.sorted.com/pro/
    description: Production (Live)
  - url: https://api.sorted.com/prosandbox/
    description: Sandbox
paths:
  '/shipment_groups/custom_reference/{customReference}/latest/shipments/{shipmentReference}':
    put:
      tags:
        - Shipment Groups
      summary: Add Shipment to Group
      description: This endpoint provides the simplest possible method of adding a single `shipment` to an existing `shipment_group`.
      parameters:
        - name: customReference
          in: path
          description: The custom reference of the `shipment_group` to add the `shipment` to
          required: true
          schema:
            type: string
            description: The custom reference of the `shipment_group` to add the `shipment` to
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to add to the `shipment_group`
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to add to the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` already exists in the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
    delete:
      tags:
        - Shipment Groups
      summary: Remove a Shipment from a Shipment Group
      description: This endpoint allows you to remove a `shipment` from a `shipment_group` using your own `custom_reference` for the group.
      parameters:
        - name: customReference
          in: path
          description: The custom reference of `shipment_group`
          required: true
          schema:
            type: string
            description: The custom reference of `shipment_group`
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to remove from the `shipment_group`
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to remove from the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` is not a member of the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
  '/shipment_groups/custom_reference/{customReference}/{version}/shipments/{shipmentReference}':
    put:
      tags:
        - Shipment Groups
      summary: Add Shipment to Group
      description: This endpoint allows you to add a `shipment` to a `shipment_group` using your own custom reference for the group.
      parameters:
        - name: customReference
          in: path
          description: The custom reference of the `shipment_group` to add the `shipment` to
          required: true
          schema:
            type: string
            description: The custom reference of the `shipment_group` to add the `shipment` to
        - name: version
          in: path
          description: The `version` of the `shipment_group` to add the `shipment` to
          required: true
          schema:
            type: integer
            description: The `version` of the `shipment_group` to add the `shipment` to
            format: int32
        - name: shipmentReference
          in: path
          description: The `reference` of the `shipment` to add to the `shipment_group`
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment` to add to the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` already exists in the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
    delete:
      tags:
        - Shipment Groups
      summary: Remove a Shipment from a Shipment Group
      description: This endpoint allows you to remove a `shipment` from a `shipment_group` using your own `custom_reference` for the group.
      parameters:
        - name: customReference
          in: path
          description: The custom reference of `shipment_group`
          required: true
          schema:
            type: string
            description: The custom reference of `shipment_group`
        - name: version
          in: path
          description: The version of the `shipment_group`
          required: true
          schema:
            type: integer
            description: The version of the `shipment_group`
            format: int32
        - name: shipmentReference
          in: path
          description: The `reference` of the `shipment` to remove from the `shipment_group`
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment` to remove from the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` is not a member of the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or is closed and cannot be updated
  '/shipment_groups/{shipmentGroupReference}/shipments/{shipmentReference}':
    put:
      tags:
        - Shipment Groups
      summary: Add a Shipment to a Shipment Group
      description: This endpoint allows you to add a `shipment` to an exist `shipment_group`.
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The reference of the `shipment_group` to add the `shipment` to
          required: true
          schema:
            type: string
            description: The reference of the `shipment_group` to add the `shipment` to
        - name: shipmentReference
          in: path
          description: The `reference` of the `shipment` to add to the `shipment_group`
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment` to add to the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` already exists in the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
    delete:
      tags:
        - Shipment Groups
      summary: Remove a Shipment from a Shipment Group
      description: This endpoint allows you to remove a `shipment` from a `shipment_group`.
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The `reference` of the `shipment_group`
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment_group`
        - name: shipmentReference
          in: path
          description: The `reference` of the `shipment` to remove from the `shipment_group`
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment` to remove from the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '304':
          description: The `shipment` is not a member of the `shipment_group`
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
  '/shipments/{shipmentReference}/allocate':
    put:
      tags:
        - Allocation
      summary: Allocate Shipment with Default Rules
      description: "This endpoint is used when you wish to allocate a single `shipment` using Sorted's allocation engine. If you require allocation of multiple `shipments`\r\nin a single operation, you should use the Allocate Shipments endpoint.\r\n            \r\nWhen allocating using this endpoint, Sorted will automatically determine the most appropriate carrier service based on several factors, including:\r\n            \r\n- Configured shipping rules\r\n- Configured shipping modes\r\n- Required shipping dates (if specified)\r\n- Required delivery dates (if specified)\r\n- Carrier availability\r\n- Carrier service price"
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to allocate
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to allocate
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been allocated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
              example: {
  "shipment_reference": "sp_00870883104518612366935529095172",
  "state": "allocated",
  "price": {
    "net": 10.0,
    "gross": 12.0,
    "taxes": [
      {
        "rate": {
          "reference": "gb_standard",
          "country_iso_code": "GB",
          "type": "standard",
          "value": 0.2
        },
        "amount": 0.0
      }
    ],
    "currency": "GBP"
  },
  "message": "Shipment sp_00870883104518612366935529095172 has been allocated successfully",
  "carrier": {
    "reference": "DNQ",
    "name": "DNQ Worldwide",
    "service_reference": "DNQ72",
    "service_name": "DNQ 72-Hour Express"
  },
  "tracking_details": {
    "shipment": {
      "reference": "sp_00870883104518612366935529095172",
      "tracking_references": [
        "te_00870883104518612366935529095173"
      ],
      "_links": []
    },
    "contents": [
      {
        "reference": "sc_00870883104518612366935529095174",
        "tracking_references": [
          "te_00870883104518612366935529095175"
        ],
        "_links": []
      }
    ]
  },
  "_links": [
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883104518612366935529095172/pdf",
      "rel": "label",
      "reference": "sp_00870883104518612366935529095172",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883104518612366935529095172/zpl",
      "rel": "label",
      "reference": "sp_00870883104518612366935529095172",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/shipments/sp_00870883104518612366935529095172",
      "rel": "shipment",
      "reference": "sp_00870883104518612366935529095172",
      "type": "shipment"
    }
  ]
}
        '202':
          description: The `shipment` has been queued for allocation
        '400':
          description: There is a validation error in your request
        '404':
          description: No `shipment` could be found with the provided reference
        '521':
          description: Allocation has failed - the `shipment` could not be allocated
  /shipments/allocate:
    put:
      tags:
        - Allocation
      summary: Allocate Shipments with Default Rules
      description: "This endpoint is used when you wish to allocate one or more `shipments` using Sorted's allocation engine. If you only require\r\nallocation of a single `shipment`, you should prefer the single Allocate Shipment endpoint.\r\n            \r\nWhen allocating using this endpoint, Sorted will automatically determine the most appropriate carrier service based on\r\nseveral factors, including:\r\n            \r\n- Configured shipping rules\r\n- Configured shipping modes\r\n- Required shipping dates (if specified)\r\n- Required delivery dates (if specified)\r\n- Carrier availability\r\n- Carrier service price"
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: An `allocate_request` which identifies which `shipments` should be allocated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateRequest'
      responses:
        '202':
          description: The `shipments` have been queued for allocation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
        '200':
          description: The `shipments` have been allocated successfully
        '400':
          description: There is a validation error in your request
        '404':
          description: No `shipment(s)` could be found with the provided reference(s)
        '407':
          description: "One or more `shipments` have been allocated successfully, but one or more `shipments` could not be\r\nallocated. The response will include details of the status for relevant `shipments`."
        '521':
          description: Allocation has failed - the `shipment(s)` could not be allocated
  /shipments/allocate/filters:
    put:
      tags:
        - Allocation
      summary: Allocate Shipments with Filters
      description: "This endpoint is used when you wish to allocate on or more `shipments` by selecting a carrier service\r\nthat matches the provided filters."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: An `allocate_with_filters_request` which allows you to specify filters to identify `shipments` to automatically allocate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateWithFiltersRequest'
      responses:
        '202':
          description: One or more `shipments` have been identified and queued for allocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateWithFiltersResult'
        '200':
          description: One or more `shipments` have been identified and allocated successfully
        '400':
          description: There is a validation error in your request
        '521':
          description: Allocation has failed - the `shipment(s)` could not be allocated
  /shipments/allocate/service:
    put:
      tags:
        - Allocation
      summary: Allocate Shipments with Carrier Service
      description: "This endpoint is used when you wish to allocate one or more `shipments` with a specific carrier service.\r\n            \r\n> Note: If you wish to allocate a single `shipment`, you should prefer the Allocate Shipment with\r\nCarrier Service endpoint."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: "An `allocate_with_carrier_service_request` which identifies which `shipments` should be allocated\r\nand the reference of the carrier service to be used"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateWithCarrierServiceRequest'
      responses:
        '202':
          description: The `shipments` have been queued for allocation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
        '207':
          description: "One or more `shipments` have been allocated successfully, but one or more `shipments` could not be\r\nallocated. The response will include details of the status for relevant `shipments`."
        '400':
          description: There is a validation error in your request
        '404':
          description: "Either no `shipment(s)` could be found with the provided reference(s) or there is no carrier service\r\nwith the provided reference."
        '521':
          description: Allocation has failed - the `shipment(s)` could not be allocated
  /shipments/allocate/service_group:
    put:
      tags:
        - Allocation
      summary: Allocate Shipments with Service Group
      description: "This endpoint is used to allocate multiple `shipments` with a carrier service from a specific\r\n`service_group`.\r\n            \r\n> Note: When requesting allocation of multiple `shipments`, the allocation will not happen in-process.\r\nThis is to ensure the performance of the API endpoint. Any `shipments` allocated as a batch will be\r\nallocated via a background process."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: "An `allocate_with_service_group_request` which identifies the `shipments` to allocate and the\r\n`service_group` to allocate with."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateWithServiceGroupRequest'
      responses:
        '202':
          description: The `shipments` have been queued for allocation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
        '200':
          description: The `shipments` have been allocated successfully
        '400':
          description: There is a validation error in your request
        '404':
          description: "No `shipments` could be found with the provided reference or a `service_group` could not be found\r\nwith the provided reference"
        '407':
          description: "One or more `shipments` have been allocated successfully, but one or more `shipments` could not be\r\nallocated. The response will include details of the status for relevant `shipments`."
        '521':
          description: Allocation has failed - the `shipments` could not be allocated
  '/shipments/{shipmentReference}/allocate/quote/{quoteReference}':
    put:
      tags:
        - Allocation
      summary: Allocate Shipment with Quote
      description: This endpoint is used when you wish to allocate a `shipment` with a specific pre-existing `quote`.
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to be allocated
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to be allocated
        - name: quoteReference
          in: path
          description: The reference of the previously-generated `quote`
          required: true
          schema:
            type: string
            description: The reference of the previously-generated `quote`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been allocated with the `quote` successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
              example: {
  "shipment_reference": "sp_00870883105182695153589072953348",
  "state": "allocated",
  "price": {
    "net": 10.0,
    "gross": 12.0,
    "taxes": [
      {
        "rate": {
          "reference": "gb_standard",
          "country_iso_code": "GB",
          "type": "standard",
          "value": 0.2
        },
        "amount": 0.0
      }
    ],
    "currency": "GBP"
  },
  "message": "Shipment sp_00870883105182695153589072953348 has been allocated successfully",
  "carrier": {
    "reference": "DNQ",
    "name": "DNQ Worldwide",
    "service_reference": "DNQ72",
    "service_name": "DNQ 72-Hour Express"
  },
  "tracking_details": {
    "shipment": {
      "reference": "sp_00870883105182695153589072953348",
      "tracking_references": [
        "te_00870883105182695153589072953349"
      ],
      "_links": []
    },
    "contents": [
      {
        "reference": "sc_00870883105182695153589072953350",
        "tracking_references": [
          "te_00870883105182695153589072953351"
        ],
        "_links": []
      }
    ]
  },
  "_links": [
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105182695153589072953348/pdf",
      "rel": "label",
      "reference": "sp_00870883105182695153589072953348",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105182695153589072953348/zpl",
      "rel": "label",
      "reference": "sp_00870883105182695153589072953348",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/shipments/sp_00870883105182695153589072953348",
      "rel": "shipment",
      "reference": "sp_00870883105182695153589072953348",
      "type": "shipment"
    }
  ]
}
        '202':
          description: The `shipment` has been queued for allocation with the `quote`
        '400':
          description: There is a validation error in your request
        '404':
          description: The `shipment` could not be found or the `quote` reference could not be found
        '521':
          description: Allocation has failed - the `shipment` could not be allocated
  '/shipments/{shipmentReference}/allocate/service/{serviceReference}':
    put:
      tags:
        - Allocation
      summary: Allocate Shipment with Carrier Service
      description: This endpoint is used when you wish to allocate a `shipment` with a specific carrier service.
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to allocate
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to allocate
        - name: serviceReference
          in: path
          description: The reference of the carrier service to allocate with
          required: true
          schema:
            type: string
            description: The reference of the carrier service to allocate with
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been allocated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
              example: {
  "shipment_reference": "sp_00870883105274928873957620711428",
  "state": "allocated",
  "price": {
    "net": 10.0,
    "gross": 12.0,
    "taxes": [
      {
        "rate": {
          "reference": "gb_standard",
          "country_iso_code": "GB",
          "type": "standard",
          "value": 0.2
        },
        "amount": 0.0
      }
    ],
    "currency": "GBP"
  },
  "message": "Shipment sp_00870883105274928873957620711428 has been allocated successfully",
  "carrier": {
    "reference": "DNQ",
    "name": "DNQ Worldwide",
    "service_reference": "DNQ72",
    "service_name": "DNQ 72-Hour Express"
  },
  "tracking_details": {
    "shipment": {
      "reference": "sp_00870883105274928873957620711428",
      "tracking_references": [
        "te_00870883105274928873957620711429"
      ],
      "_links": []
    },
    "contents": [
      {
        "reference": "sc_00870883105274928873957620711430",
        "tracking_references": [
          "te_00870883105274928873957620711431"
        ],
        "_links": []
      }
    ]
  },
  "_links": [
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105274928873957620711428/pdf",
      "rel": "label",
      "reference": "sp_00870883105274928873957620711428",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105274928873957620711428/zpl",
      "rel": "label",
      "reference": "sp_00870883105274928873957620711428",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/shipments/sp_00870883105274928873957620711428",
      "rel": "shipment",
      "reference": "sp_00870883105274928873957620711428",
      "type": "shipment"
    }
  ]
}
        '202':
          description: The `shipment` has been queued for allocation
        '400':
          description: There is a validation error in your request
        '404':
          description: No `shipment` could be found with the provided reference or the carrier service reference provided does not exist
        '521':
          description: Allocation has failed - the `shipment` could not be allocated
  '/shipments/{shipmentReference}/allocate/service_group/{groupReference}':
    put:
      tags:
        - Allocation
      summary: Allocate Shipment with Service Group
      description: This endpoint is used to allocate a `shipment` with a carrier service from a specific service group.
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to allocate
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to allocate
        - name: groupReference
          in: path
          description: The reference of the carrier service group to allocate with
          required: true
          schema:
            type: string
            description: The reference of the carrier service group to allocate with
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been allocated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
              example: {
  "shipment_reference": "sp_00870883105367162594326168469504",
  "state": "allocated",
  "price": {
    "net": 10.0,
    "gross": 12.0,
    "taxes": [
      {
        "rate": {
          "reference": "gb_standard",
          "country_iso_code": "GB",
          "type": "standard",
          "value": 0.2
        },
        "amount": 0.0
      }
    ],
    "currency": "GBP"
  },
  "message": "Shipment sp_00870883105367162594326168469504 has been allocated successfully",
  "carrier": {
    "reference": "DNQ",
    "name": "DNQ Worldwide",
    "service_reference": "DNQ72",
    "service_name": "DNQ 72-Hour Express"
  },
  "tracking_details": {
    "shipment": {
      "reference": "sp_00870883105367162594326168469504",
      "tracking_references": [
        "te_00870883105367162594326168469505"
      ],
      "_links": []
    },
    "contents": [
      {
        "reference": "sc_00870883105367162594326168469506",
        "tracking_references": [
          "te_00870883105367162594326168469507"
        ],
        "_links": []
      }
    ]
  },
  "_links": [
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105367162594326168469504/pdf",
      "rel": "label",
      "reference": "sp_00870883105367162594326168469504",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105367162594326168469504/zpl",
      "rel": "label",
      "reference": "sp_00870883105367162594326168469504",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/shipments/sp_00870883105367162594326168469504",
      "rel": "shipment",
      "reference": "sp_00870883105367162594326168469504",
      "type": "shipment"
    }
  ]
}
        '202':
          description: The `shipment` has been queued for allocation
        '400':
          description: There is a validation error in your request
        '404':
          description: No `shipment` could be found with the provided reference or the service group reference provided does not exist
        '521':
          description: Allocation has failed - the `shipment` could not be allocated
  '/shipments/{shipmentReference}/allocate/virtual_service/{virtualService}':
    put:
      tags:
        - Allocation
      summary: Allocate Shipment with Virtual Service
      description: "This endpoint is used to allocate a `shipment` with a specific carrier service or service group, depending\r\nupon the reference provided.\r\n\r\n> The term \"virtual service\" is used here to indicate that the provided reference can refer to multiple\r\ntypes of entity such as a carrier service or a carrier service group. This functionality may be\r\nextended in the future to include other types of virtual service."
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to allocate
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to allocate
        - name: virtualService
          in: path
          description: The reference of the carrier service or carrier service group to allocate with
          required: true
          schema:
            type: string
            description: The reference of the carrier service or carrier service group to allocate with
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been allocated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocateResult'
              example: {
  "shipment_reference": "sp_00870883105459396314694716227587",
  "state": "allocated",
  "price": {
    "net": 10.0,
    "gross": 12.0,
    "taxes": [
      {
        "rate": {
          "reference": "gb_standard",
          "country_iso_code": "GB",
          "type": "standard",
          "value": 0.2
        },
        "amount": 0.0
      }
    ],
    "currency": "GBP"
  },
  "message": "Shipment sp_00870883105459396314694716227587 has been allocated successfully",
  "carrier": {
    "reference": "DNQ",
    "name": "DNQ Worldwide",
    "service_reference": "DNQ72",
    "service_name": "DNQ 72-Hour Express"
  },
  "tracking_details": {
    "shipment": {
      "reference": "sp_00870883105459396314694716227587",
      "tracking_references": [
        "te_00870883105459396314694716227588"
      ],
      "_links": []
    },
    "contents": [
      {
        "reference": "sc_00870883105459396314694716227589",
        "tracking_references": [
          "te_00870883105459396314694716227590"
        ],
        "_links": []
      }
    ]
  },
  "_links": [
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105459396314694716227587/pdf",
      "rel": "label",
      "reference": "sp_00870883105459396314694716227587",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/labels/sp_00870883105459396314694716227587/zpl",
      "rel": "label",
      "reference": "sp_00870883105459396314694716227587",
      "type": "label"
    },
    {
      "href": "https://api.sorted.com/pro/shipments/sp_00870883105459396314694716227587",
      "rel": "shipment",
      "reference": "sp_00870883105459396314694716227587",
      "type": "shipment"
    }
  ]
}
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to allocate a `shipment`
        '404':
          description: "No `shipment` could be found with the provided reference or a service group or service could not be found\r\nwith the provided reference"
        '521':
          description: Allocation has failed - the `shipment` could not be allocated
  '/shipments/{shipmentReference}/cancel':
    put:
      tags:
        - Shipments
      summary: Cancel Shipment
      description: "This endpoint is used to cancel a `shipment`, including cancelling a booking with a carrier. A `shipment`\r\ncannot be cancelled once it has been `manifested` with a carrier.\r\n            \r\n> Note: The `state` of `cancelled` is a _terminal_ `state`, i.e. a `shipment` can no longer be updated\r\nor changed once it has been cancelled, other than deleting the `shipment`."
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to cancel
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to cancel
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '202':
          description: The request to cancel the `shipment` has been received successfully
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to cancel a `shipment`
        '404':
          description: The `shipment` could not be found
        '409':
          description: The `shipment` is not in a valid state to be cancelled
  '/shipment_groups/{shipmentGroupReference}/close':
    post:
      tags:
        - Shipment Groups
      summary: Close a Shipment Group
      description: "Closing a `shipment_group` prevents any further changes or operations to the `shipment_group`, other than retrieving its details.\r\n            \r\n> Note: A `shipment_group` must be `locked` before it can be `closed`.\r\n>\r\n> The close operation is not reversible."
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The `reference` of the `shipment_group` to close
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment_group` to close
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been closed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to close the `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: 'There is a conflict that prevents the `shipment_group` from being `closed`, e.g. it has not yet been `locked`'
  /shipments/quote:
    post:
      tags:
        - Quotes
      summary: Create Quote
      description: "This endpoint is used to retrieve a list of carrier services that are capable of carrying a `shipment`,\r\nbased on the properties of the `shipment` such as `dimensions`, `weight`, `addresses` and delivery promise.\r\n`Quotes` will be generated according to the \"default rules\" in the customer's account.\r\n            \r\n> Note: although not used to create an actual `shipment`, this endpoint uses the same request type\r\n(`create_shipment_request`) as the Create Shipment operation in order to allow customers to re-use the\r\nsame object in the flow: create `quote`, identify suitable `quote`, create `shipment`, allocate `shipment`."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `create_shipment_request`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CreateShipmentRequest'
      responses:
        '201':
          description: The request was successful. The response will include the `quote` details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.QuoteResult'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to create `quotes`
        '531':
          description: The request was valid but there are no `quotes` available.
  '/shipments/quote/service_group/{group_ref}':
    post:
      tags:
        - Quotes
      summary: Create Quote by Service Group
      description: "This endpoint is used to retrieve a list of carrier service within a specific service group that are\r\ncapable of carrying a `shipment`, based on the properties of the `shipment` such as `dimensions`, `weight`,\r\n`addresses`, and delivery promise. `Quotes` will be generated according to the \"default rules\" in the\r\ncustomer's account for the services included in the specified `service_group`.\r\n            \r\n> Note: although not used to create an actual `shipment`, this endpoint uses the same request type\r\n(`create_shipment_request`) as the Create Shipment operation in order to allow customers to re-use the\r\nsame object in the flow: create `quote`, identify suitable `quote`, create `shipment`, allocate `shipment`."
      parameters:
        - name: group_ref
          in: path
          description: The reference of the carrier service group to quote with
          required: true
          schema:
            type: string
            description: The reference of the carrier service group to quote with
            nullable: true
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `create_shipment_request`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CreateShipmentRequest'
      responses:
        '201':
          description: The request was successful. The response will include the `quote` details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.QuoteResult'
        '400':
          description: There is a validation error in your request
        '404':
          description: The `service_group` could not be found
        '403':
          description: You do not have permission to create `quotes`
        '531':
          description: The request was valid but could not be fulfilled
  /shipments:
    post:
      tags:
        - Shipments
      summary: Create Shipment
      description: This endpoint is used to create new `shipments` within SortedPRO.
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `create_shipment_request`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CreateShipmentRequest'
      responses:
        '201':
          description: The `shipment` has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to create a `shipment`
    put:
      tags:
        - Shipments
      summary: Update Shipment
      description: "This endpoint is used to update an existing `shipment` within SortedPRO. The `shipment` must already exist,\r\nand the account used to perform the API request must have permission to update `shipments`."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: An `update_shipment_request`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.UpdateShipmentRequest'
      responses:
        '200':
          description: The `shipment` has been updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update the `shipment`
        '404':
          description: The `shipment` could not be found
  /shipment_groups:
    post:
      tags:
        - Shipment Groups
      summary: Create a new Shipment Group
      description: "A `shipment_group` is a group of one or more `shipments` that can be operated on together. For example, if a driver is due to\r\ncome and collect a group of `shipments` together, you can create a `shipment_group` for the `shipments` and then produce a\r\n`collection_note` and manage the `state` of all the `shipments` within the group together."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `create_shipment_request` containing details of `shipments` to add to the group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CreateShipmentGroupRequest'
      responses:
        '201':
          description: The `shipment_group` has been created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '207':
          description: The `shipment_group` has been created successfully but one or more `shipments` could not be added to the group.
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to create a `shipment_group`
        '404':
          description: One or more `shipments` could not be found
    put:
      tags:
        - Shipment Groups
      summary: Update a Shipment Group
      description: This endpoint allows you to add or remove `shipments` from a `shipment_group`. You may also update or remove the `custom_reference` applied to the `shipment_group`.
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: An `update_shipment_group_request`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.UpdateShipmentGroupRequest'
      responses:
        '200':
          description: The `shipment_group` has been updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroupResponse'
        '207':
          description: The `shipment_group` has been updated successfully but one or more `shipments` could not be added to the group.
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to update a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is locked or closed and cannot be updated
  '/shipments/{shipmentReference}':
    delete:
      tags:
        - Shipments
      summary: Delete Shipment
      description: "This endpoint should be used when you wish to completely remove a `shipment` and all of its history\r\nfrom Sorted. This is an irreversible operation - once a `shipment` has been deleted it cannot be\r\nrecovered.\r\n            \r\n> Note: it is only possible to delete a `shipment` once it has been `cancelled`. If you attempt to delete\r\na `shipment` that has _not_ been cancelled, you will receive a `400 (Bad Request)` response."
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to delete
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to delete
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment` has been deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '202':
          description: The request to delete the `shipment` has been received and will be processed
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to delete a `shipment`
        '404':
          description: The `shipment` could not be found
    get:
      tags:
        - Shipments
      summary: Get Shipment
      description: This endpoint is used to retrieve the details of an existing `shipment`.
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to retrieve
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to retrieve
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The request was successful. The response will include the details of the `shipment`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Shipment'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to retrieve the `shipment`
        '404':
          description: The `shipment` could not be found
  '/labels/{shipmentReference}/{contentType}/{dpi}':
    get:
      tags:
        - Labels
      summary: Get Labels
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to retrieve the labels for
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to retrieve the labels for
        - name: contentType
          in: path
          description: The format of document to return
          required: true
          schema:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Enums.ContentType'
        - name: dpi
          in: path
          description: The dpi of the document to return. Has a default value of `203`
          required: true
          schema:
            type: integer
            description: The dpi of the document to return. Has a default value of `203`
            format: int32
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The request was successful. The response will include the label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Document'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to retrieve labels for a `shipment`
        '404':
          description: The `shipment` could not be found
  '/labels/{shipmentReference}/contents/{contentsReference}/{contentType}/{dpi}':
    get:
      tags:
        - Labels
      summary: Get Contents Label
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to retrieve the label for
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to retrieve the label for
        - name: contentsReference
          in: path
          description: The reference of the `shipment_contents` to retrieve the label for
          required: true
          schema:
            type: string
            description: The reference of the `shipment_contents` to retrieve the label for
        - name: contentType
          in: path
          description: The format of document to return
          required: true
          schema:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Enums.ContentType'
        - name: dpi
          in: path
          description: The dpi of the document to return
          required: true
          schema:
            type: integer
            description: The dpi of the document to return
            format: int32
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The request was successful. The response will include the label
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Document'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to retrieve labels for a `shipment`
        '404':
          description: The `shipment` could not be found
  '/shipments/manifests/{manifestReference}':
    get:
      tags:
        - Manifest
      summary: Get Manifest
      description: This endpoint can be used to retrieve the details of an existing `manifest`.
      parameters:
        - name: manifestReference
          in: path
          description: The reference of the `manifest` to retrieve
          required: true
          schema:
            type: string
            description: The reference of the `manifest` to retrieve
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `manifest` has been found. The response contains the details of the `manifest`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Manifest'
        '403':
          description: You do not have permission to access the `manifest`
        '404':
          description: The `manifest` could not be found
  '/shipments/{shipmentReference}/quote':
    post:
      tags:
        - Quotes
      summary: Get Quote
      description: "This endpoint is used to retrieve a list of allocation options for an existing `shipment`. Each `quote`\r\nreturned will include a unique reference that allows the specific `quote` to be used for allocation."
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to retrieve `quotes` for
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to retrieve `quotes` for
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '201':
          description: The request was successful. The response will include the available `quotes`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.QuoteResult'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to retrieve the `shipment` or generate `quotes`
        '404':
          description: The `shipment` could not be found
        '531':
          description: The request was valid but no `quotes` could be found for the `shipment`
  '/shipment_groups/{shipmentGroupReference}':
    get:
      tags:
        - Shipment Groups
      summary: Retrieve the Details of an Existing Shipment Group
      description: Retrieve the details of an existing shipment_group
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The `reference` of the `shipment_group` to retrieve
          required: true
          schema:
            type: string
            description: The `reference` of the `shipment_group` to retrieve
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been located successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentGroup'
        '401':
          description: The user is not authorized
        '403':
          description: You do not have permission to retrieve a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
  '/shipment_groups/{shipmentGroupReference}/lock':
    post:
      tags:
        - Shipment Groups
      summary: Lock a Shipment Group
      description: "This operation places a virtual \"lock\" on a `shipment_group` which prevents any further changes to the group until the group is \"unlocked\".\r\n            \r\nIt is still possible to retrieve a `collection_note` for the group, but `shipments` cannot be added or removed from the group."
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The reference of the `shipment_group` to lock
          required: true
          schema:
            type: string
            description: The reference of the `shipment_group` to lock
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been locked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '403':
          description: You do not have permission to lock a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is already locked or is closed and cannot be locked
  '/shipment_groups/{shipmentGroupReference}/unlock':
    post:
      tags:
        - Shipment Groups
      summary: Unlock a Shipment Group
      description: "This operation removes a virtual \"lock\" from a `shipment_group` which prevents any further changes to the group until the group is \"unlocked\".\r\n            \r\nUnlocking makes it possible to add or remove `shipments` from the group."
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The reference of the `shipment_group` to unlock
          required: true
          schema:
            type: string
            description: The reference of the `shipment_group` to unlock
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '200':
          description: The `shipment_group` has been unlocked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ResourceResult'
        '403':
          description: You do not have permission to unlock a `shipment_group`
        '404':
          description: The `shipment_group` could not be found
        '409':
          description: The `shipment_group` is already unlocked or is closed and cannot be locked
  '/shipment_groups/{shipmentGroupReference}/manifest':
    post:
      tags:
        - Manifest
      summary: Manifest Shipments by Shipment Group
      description: "This endpoint can be used to manifest all `shipments` within a `shipment_group` as a single operation.\r\n            \r\n> Note: it is still possible to manifest `shipments` within a group via other methods, as this endpoint's\r\nimplementation will only attempt to manifest `shipments` that are not already manifested. This endpoint is\r\nnot idempotent, as multiple calls can have different results."
      parameters:
        - name: shipmentGroupReference
          in: path
          description: The reference of the `shipment_group`
          required: true
          schema:
            type: string
            description: The reference of the `shipment_group`
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '202':
          description: The `shipments` have been queued for manifest successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ManifestResponse'
        '200':
          description: The `shipments` have been manifested successfully.
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to access the `shipment_group` or to manifest `shipments`
        '404':
          description: The `shipment_group` could not be found
  '/shipments/{shipmentReference}/manifest':
    put:
      tags:
        - Manifest
      summary: Manifest Shipment
      description: "This endpoint is used to manually manifest an individual `shipment`.\r\n            \r\n> Note: depending on the `shipment_type` and carrier service, not all `shipments` require a manifest\r\noperation."
      parameters:
        - name: shipmentReference
          in: path
          description: The reference of the `shipment` to manifest
          required: true
          schema:
            type: string
            description: The reference of the `shipment` to manifest
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      responses:
        '202':
          description: The `shipment` has been queued for manifest successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ManifestResponse'
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to access the `shipment` or to manifest `shipments`
        '404':
          description: The `shipment` could not be found
  /shipments/manifest:
    put:
      tags:
        - Manifest
      summary: Manifest Shipments
      description: Manifest multiple shipments
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `manifest_request` which identifies the `shipments` to be manifested
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ManifestRequest'
      responses:
        '202':
          description: The `shipments` have been queued for manifest successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ManifestResponse'
        '200':
          description: The `shipments` have been manifested successfully.
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to access or manifest `shipments`
        '404':
          description: One or more `shipments` could not be found
  /shipments/state:
    put:
      tags:
        - Shipments
      summary: Change Shipment State
      description: "This endpoint can be used to manually change the `state` of a `shipment` to the provided value.\r\n            \r\n> Note: `shipment` `state` changes are controlled via a state machine which only allows certain `state`\r\ntransitions. For instance, you cannot transition a `shipment` from a `state` of `unallocated` to `allocated`\r\n- this `state` change can only be carried out by the Sorted platform as a result of a successful allocation.\r\nThis endpoint is provided to enable you to change the `state` of a `shipment` due to exceptional\r\ncircumstances, not as part of a standard workflow. Audit messages may be logged for all `state` transitions\r\nand will include details of the change initiator."
      parameters:
        - name: x-api-version
          in: header
          description: The version of the API to use.  Version `1.1` should be supplied with all requests.
          required: true
          style: simple
          schema:
            type: string
            description: The version of the API to use. Version `1.1` should be supplied with all requests.
      requestBody:
        description: A `shipment_state_change_request`
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ShipmentStateChangeRequest'
      responses:
        '200':
          description: The `state` has been updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sorted.Shipments.DataContracts.QuoteResult'
        '202':
          description: The request to update the `state` has been received successfully and will be processed
        '304':
          description: The `state` of the `shipment` has not been modified - the current `state` matches the `desired` state already
        '400':
          description: There is a validation error in your request
        '403':
          description: You do not have permission to change the `state` of the `shipment`
        '404':
          description: The `shipment` could not be found
components:
  schemas:
    Sorted.Shipments.DataContracts.ApiErrorMessage:
      type: object
      properties:
        property:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
      additionalProperties: false
    Sorted.Shipments.DataContracts.Link:
      required:
        - href
        - rel
        - type
      type: object
      properties:
        href:
          type: string
          description: The URL of the resource
        rel:
          type: string
          description: "A string representing the relationship of the linked resource to the current resource. For example, a\r\n`link` to a `shipment` will have a value of `shipment`. Links to the current object will have a `rel` of\r\n`self`."
        reference:
          type: string
          description: "When a `link` is a pointer to a resource with a unique reference, this property will contain the reference.\r\nFor instance, a `link` for a `shipment` will contain the `shipment's` reference in this field."
          nullable: true
        type:
          type: string
          description: The type of resource that this `link` points to.
      additionalProperties: false
      description: "A `link` object that provides a pointer to a resource. Links are provided, for example, following the\r\ncreation of a new resource (such as a `shipment`). The `link` will provide access to the created resource."
    Sorted.Shipments.DataContracts.ShipmentGroupResponse:
      required:
        - reference
      type: object
      properties:
        errors:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ApiErrorMessage'
          description: Any error(s) relating to the operation
          nullable: true
        reference:
          maxLength: 35
          minLength: 35
          type: string
          description: The unique reference for this resource generated by Sorted at the point of creation.
        custom_reference:
          type: string
          description: 'Your own custom reference for this object, if applicable.'
          nullable: true
        message:
          type: string
          description: An optional message relating to the result of the operation.
          nullable: true
        version:
          type: integer
          description: 'An optional version for this resource, if applicable.'
          format: int32
          nullable: true
        _links:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          description: 'Links to the current resource and any related resources, if applicable.'
          nullable: true
      additionalProperties: false
      description: Provides details of the result of an operation relating to a `shipment_group`
    Sorted.Shipments.DataContracts.Enums.ShipmentState:
      enum:
        - unallocated
        - allocating
        - allocation_failed
        - allocated
        - manifesting
        - manifest_failed
        - manifested
        - booking
        - booking_failed
        - booked
        - dispatched
        - at_drop_off_point
        - in_transit
        - delayed
        - out_for_delivery
        - delivery_failed
        - delivery_failed_card_left
        - delivered
        - partially_delivered
        - at_collection_point
        - returned_to_sender
        - action_required
        - missing
        - lost
        - damaged
        - cancelling
        - cancelled
        - in_transit_waiting
        - held_by_carrier
        - exchange_failed
        - at_customs
        - delivered_damaged
        - carrier_collected
        - customer_collected
        - carrier_collection_failed
        - customer_collection_failed
        - at_customer_collection_point
        - ready_to_ship
        - exchange_succeeded
        - awaiting_drop_off
        - carrier_changed
        - cleared_customs
        - destroyed
      type: string
      description: "Every `shipment` in Sorted has a `state` associated with it. Sorted manages `shipment` `states` by virtue of\r\na set of rules that determine transition rules between `states`."
    Sorted.Shipments.DataContracts.TaxRate:
      type: object
      properties:
        reference:
          type: string
          nullable: true
        country_iso_code:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        value:
          type: number
          format: double
      additionalProperties: false
    Sorted.Shipments.DataContracts.Tax:
      type: object
      properties:
        rate:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.TaxRate'
        amount:
          type: number
          format: double
      additionalProperties: false
    Sorted.Shipments.DataContracts.Price:
      required:
        - currency
        - gross
        - net
      type: object
      properties:
        net:
          type: number
          description: 'The price for this service exclusive of tax, in the provided `currency`.'
          format: double
        gross:
          type: number
          description: 'The price for this service inclusive of tax, in the provided `currency`.'
          format: double
        taxes:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Tax'
          description: The applicable tax for this `price`
          nullable: true
        currency:
          type: string
          description: The 3-character ISO code of the currency
      additionalProperties: false
      description: "The `price` object provides details of the `net` and `gross` price for a service, including\r\ncurrency and tax details."
    Sorted.Shipments.DataContracts.CarrierDetails:
      type: object
      properties:
        reference:
          maxLength: 50
          type: string
          description: The Sorted reference for this carrier.
          nullable: true
        name:
          type: string
          description: The name of this carrier.
          nullable: true
        service_reference:
          maxLength: 50
          type: string
          description: "The Sorted reference for this carrier service. Customers will have a `service_reference` that is unique\r\nto them for each carrier service."
          nullable: true
        service_name:
          type: string
          description: The friendly name for this carrier service.
          nullable: true
      additionalProperties: false
      description: "The `carrier_details` object provides details of a carrier and carrier service and is usually (but not\r\nalways) linked to an `allocation`."
    Sorted.Shipments.DataContracts.TrackingReference:
      required:
        - reference
      type: object
      properties:
        reference:
          type: string
          description: 'The unique reference for this object. For a `shipment`, this will be the reference of the `shipment`.'
        tracking_references:
          minItems: 0
          type: array
          items:
            type: string
          description: The tracking reference(s) assigned by the carrier.
          nullable: true
        _links:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          description: Any applicable links for this object.
          nullable: true
      additionalProperties: false
      description: This object provides details of tracking references for a `shipment` or `shipment_contents`.
    Sorted.Shipments.DataContracts.TrackingDetails:
      required:
        - shipment
      type: object
      properties:
        shipment:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.TrackingReference'
        contents:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.TrackingReference'
          description: 'The tracking reference(s), if applicable, for the `shipment_contents`.'
          nullable: true
      additionalProperties: false
      description: "This object provides details of tracking provided by the carrier at the point of allocation. Depending on\r\nthe carrier, tracking references may be provided for the whole `shipment`, or for the whole `shipment` and/or\r\nfor individual `shipment_contents`."
    Sorted.Shipments.DataContracts.ApiError:
      type: object
      properties:
        reference:
          type: string
          nullable: true
        correlation_id:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ApiErrorMessage'
          nullable: true
        _links:
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          nullable: true
      additionalProperties: false
    Sorted.Shipments.DataContracts.Enums.ExclusionCode:
      enum:
        - ex_other
        - ex_availability
        - ex_rates
        - ex_contents
        - ex_weight
        - ex_dims
        - ex_rules
        - ex_timeout
        - ex_circuit_open
        - ex_error
        - ex_sys_disabled
      type: string
      description: Describes the reason that a carrier service was excluded from a quote or allocation
    Sorted.Shipments.DataContracts.Exclusion:
      required:
        - code
        - reason
      type: object
      properties:
        reason:
          type: string
          description: A plain-text reason for the exclusion of this carrier or carrier service.
        code:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Enums.ExclusionCode'
      additionalProperties: false
      description: "The `exclusion` object provides details of the reasons for exclusion of a carrier or carrier service\r\nwhen generating quotes."
    Sorted.Shipments.DataContracts.ExcludedService:
      required:
        - carrier
        - exclusion
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CarrierDetails'
        exclusion:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Exclusion'
      additionalProperties: false
      description: "The `excluded_service` object provides details of carrier services that were unable to provide quotes. There\r\nare many reasons why a carrier service may not be able to provide a quote for any given shipment, and this\r\nobject provides high-level details."
    Sorted.Shipments.DataContracts.AllocateResult:
      required:
        - correlation_id
        - shipment_reference
        - state
      type: object
      properties:
        shipment_reference:
          maxLength: 35
          minLength: 35
          type: string
          description: The reference of the `shipment` that the result relates to.
        state:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Enums.ShipmentState'
        price:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Price'
        message:
          type: string
          description: "A plain-text message describing the result of the allocation attempt.\r\n            \r\n> Note: this should _not_ be used for application logic - use `state` to determine the success of the\r\noperation."
          nullable: true
        carrier:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.CarrierDetails'
        tracking_details:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.TrackingDetails'
        _links:
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          description: Links to any related resources such as `labels` or the `shipment`.
          nullable: true
        correlation_id:
          type: string
          description: A correlation id for this operation. This is useful in troubleshooting scenarios.
        details:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ApiError'
          description: 'Details of errors, if applicable.'
          nullable: true
        excluded_services:
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.ExcludedService'
          description: "Details of excluded services, i.e. carrier services that are active in your account but who have not\r\nbeen able to provide a quote for this `shipment`."
          nullable: true
      additionalProperties: false
      description: "An `allocate_result` is returned for all requests to allocate a `shipment`. The object contains details of the operation\r\nresult, as well as the details of the allocation or, in the case of a failed allocation, details of the allocation failure."
    Sorted.Shipments.DataContracts.AllocateRequest:
      required:
        - shipments
      type: object
      properties:
        shipments:
          type: array
          items:
            type: string
      additionalProperties: false
    Sorted.Shipments.DataContracts.AllocationFilters:
      required:
        - direction
      type: object
      properties:
        direction:
          type: string
          description: The `direction` of the carrier services to select.
        tags:
          maxItems: 10
          minItems: 0
          type: array
          items:
            type: string
          description: "Filter carrier services to exclude any carrier services that do not have a 100% tag match.\r\nAll tags will be considered, and a service must have _all_ provided tags in order to be eligible for\r\nselection."
          nullable: true
        pickup:
          type: boolean
          description: "Indicates whether to include pick-up services or not (i.e. services where the consumer will collect\r\nthe `shipment` from a location)"
          nullable: true
        drop_off:
          type: boolean
          description: "Indicates whether to include drop-off services or not (i.e. services where the consumer will receive\r\nthe `shipment` to their location)."
          nullable: true
      additionalProperties: false
      description: "The `allocation_filters` object is used to selectively pre-filter carrier services prior to executing\r\nan allocation."
    Sorted.Shipments.DataContracts.AllocateWithFiltersRequest:
      required:
        - filters
        - shipments
      type: object
      properties:
        shipments:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
          description: "At least one valid reference must be provided. A maximum of 100 `shipments` can be allocated at once\r\nusing this method. This is to ensure continued optimal performance of the Sorted platform."
        filters:
          $ref: '#/components/schemas/Sorted.Shipments.DataContracts.AllocationFilters'
      additionalProperties: false
      description: The `allocate_with_filters_request` is designed to allow a flexible method for allocating `shipments`.
    Sorted.Shipments.DataContracts.AllocateWithFiltersResult:
      required:
        - message
        - reference
      type: object
      properties:
        reference:
          type: string
          description: A unique reference for this result
        shipments:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          description: "Provides the references of (and links to) the `shipments` identified by the filters. Each `shipment`\r\nwill have been submitted for allocation."
          nullable: true
        message:
          type: string
          description: A plain-text message describing the result of the operation.
      additionalProperties: false
      description: Provides details of `shipments` identified and submitted by an `allocate_with_filters_request`.
    Sorted.Shipments.DataContracts.AllocateWithCarrierServiceRequest:
      required:
        - carrier_service_reference
        - shipments
      type: object
      properties:
        shipments:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
          description: The reference(s) of the `shipment(s)` to be allocated.
        carrier_service_reference:
          minLength: 1
          type: string
          description: The reference of the carrier service to allocate the `shipments` with.
      additionalProperties: false
      description: "The `allocate_with_carrier_service_request` is designed to facilitate allocate one or more `shipments`\r\nwith a specific carrier service. The cheapest option for that carrier service will automatically\r\nbe selected using this method."
    Sorted.Shipments.DataContracts.AllocateWithServiceGroupRequest:
      required:
        - service_group
        - shipments
      type: object
      properties:
        shipments:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
          description: The reference(s) of the `shipment(s)` to be allocated.
        service_group:
          minLength: 1
          type: string
          description: The reference of the carrier service group to allocate the `shipments` with.
      additionalProperties: false
      description: "The `allocate_with_service_group_request` is designed to facilitate allocating one or more `shipments`\r\nwith a carrier from a specific `service_group`. A `service_group` is a collection of one or more carrier\r\nservices that you can configure. The cheapest available service in a group will automatically be\r\nselected using this method."
    Sorted.Shipments.DataContracts.ResourceResult:
      required:
        - reference
      type: object
      properties:
        reference:
          maxLength: 35
          minLength: 35
          type: string
          description: The unique reference for this resource generated by Sorted at the point of creation.
        custom_reference:
          type: string
          description: 'Your own custom reference for this object, if applicable.'
          nullable: true
        message:
          type: string
          description: An optional message relating to the result of the operation.
          nullable: true
        version:
          type: integer
          description: 'An optional version for this resource, if applicable.'
          format: int32
          nullable: true
        _links:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Sorted.Shipments.DataContracts.Link'
          description: 'Links to the current resource and any related resources, if applicable.'
          nullable: true
      additionalProperties: false
      description: A `resource_result` is generally returned for all successful requests to create or modify resources.
    Sorted.Shipments.DataContracts.DateRange:
      type: object
      properties:
        start:
          type: string
          description: "The start of the date period, inclusive.\r\n            \r\nIf provided, must be prior to or equal to `end`"
          format: date-time
          nullable: true
        end:
          type: string
          description: "The end of the date period, inclusive.\r\n            \r\nIf provided, must be later than or equal to `start`"
          format: date-time
          nullable: true
        has_value:
          type: boolean
          description: "Indicates whether the object has a value or not.\r\n            \r\nNot applicable to requests."
          readOnly: true
      additionalProperties: false
      description: "The `date_range` object is used to indicate a period of time. The object may include any combination of\r\nvalues:\r\n            \r\n- A `start` and `end` indicates a complete range of dates (inclusive)\r\n- A `start` **only** indicates an open-ended date range, starting from a particular date (inclusive)\r\n- An `end` **only** indicates a date range with a fixed endpoint (inclusive)"
    Sorted.Shipments.DataContracts.Enums.MetadataType:
      enum:
        - 'null'
        - string
        - bool
        - date_time_offset
        - integer
        - decimal
        - url
      type: string
    Sorted.Shipments.DataContracts.Metadata:
      required:
        - key
        - type
        - value
      type: object
[...]
