openapi: 3.0.1
info:
  title: Collection Notes API
  version: version 1.0
  description:
    $ref: ./intro-collection-notes.yaml#/description
servers:
  - url: https://api.sorted.com/pro/
    description: Production (live)
  - url: https://api.sorted.com/prosandbox/
    description: Sandbox
paths:
  "/collection_notes/shipment_group/custom_reference/{reference}/latest":
    get:
      tags:
        - Collection Notes
      summary: Get Collection Note by Custom Reference
      description: Returns a collection note for the shipment group custom reference provided.
      parameters:
        - name: reference
          in: path
          description: The `shipment_group` custom reference.
          required: true
          schema:
            type: string
            description: The `shipment_group` custom reference.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionNoteResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  "/collection_notes/shipment_group/custom_reference/{reference}/{version}":
    get:
      tags:
        - Collection Notes
      summary: Get Collection Note by Custom Reference and Version
      description: Returns a collection note for the shipment group custom reference and version provided
      parameters:
        - name: reference
          in: path
          description: The `shipment_group` custom reference.
          required: true
          schema:
            type: string
            description: The `shipment_group` custom reference.
        - name: version
          in: path
          description: The `shipment_group` version.
          required: true
          schema:
            type: integer
            description: The `shipment_group` version.
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionNoteResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  "/collection_notes/shipment_group/{reference}":
    get:
      tags:
        - Collection Notes
      summary: Get Collection Note by Shipment Group
      description: Returns a collection note for the shipment group reference provided.
      parameters:
        - name: reference
          in: path
          description: The `shipment_group` reference.
          required: true
          schema:
            type: string
            description: The `shipment_group` reference.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionNoteResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
components:
  schemas:
    CollectionNoteResponse:
      required:
        - content_type
        - document_type
        - file
      type: object
      properties:
        content_type:
          type: string
          description: "The format of the document (`application/pdf`, `text/plain`)"
          readOnly: true
        document_type:
          type: string
          description: The type of document (`collection_note`)
          readOnly: true
        dpi:
          type: integer
          description: The DPI of the document (e.g. `203`)
          format: int32
          nullable: true
          readOnly: true
        file:
          type: string
          description: The contents of the file encoded in base64
      additionalProperties: false
      description: This object represents a single document
    ApiErrorMessage:
      required:
        - code
        - message
      type: object
      properties:
        property:
          type: string
          description: "The path to the affected property, if applicable.\r\n            \r\n> Note: this will be expressed in JSON Path format e.g. `$.addresses[0].address_type` indicates an issue\r\nwith the property `address_type` for the first provided address."
          nullable: true
        code:
          type: string
          description: A pre-defined code for this error.
        message:
          type: string
          description: A plain-text summary of the error.
      additionalProperties: false
      description: The `api_error_message` object provides further information relating to errors.
    Link:
      required:
        - href
        - rel
        - type
      type: object
      properties:
        href:
          type: string
          description: The URL of the resource
        rel:
          type: string
          description: "A string representing the relationship of the linked resource to the current resource. For example, a\r\n`link` to a `shipment` will have a value of `shipment`. Links to the current object will have a `rel` of\r\n`self`."
        reference:
          type: string
          description: "When a `link` is a pointer to a resource with a unique reference, this property will contain the reference.\r\nFor instance, a `link` for a `shipment` will contain the `shipment's` reference in this field."
          nullable: true
        type:
          type: string
          description: The type of resource that this `link` points to.
      additionalProperties: false
      description: "A `link` object that provides a pointer to a resource. Links are provided, for example, following the\r\ncreation of a new resource (such as a `shipment`). The `link` will provide access to the created resource."
    ApiError:
      required:
        - code
        - correlation_id
        - message
      type: object
      properties:
        correlation_id:
          type: string
          description: "The correlation id for this error. Customers can use this property when reporting issues to Sorted and this\r\nwill aid with problem discovery and resolution."
        code:
          type: string
          description: A pre-defined `code` for this error.
        message:
          type: string
          description: A plain-text summary of the error.
        details:
          minItems: 0
          type: array
          items:
            $ref: "#/components/schemas/ApiErrorMessage"
          description: "A collection of `api_error_messages` which provide further details of the error(s), if applicable."
          nullable: true
        _links:
          minItems: 0
          type: array
          items:
            $ref: "#/components/schemas/Link"
          description: Provides links to further relevant information such as links to documentation.
          nullable: true
      additionalProperties: false
      description: "This object is returned by Sorted whenever an error occurs during a request. Errors can have many causes, such\r\nas badly-formed requests, incorrect permissions, or unforeseen issues during request processing."
  securitySchemes:
    API Key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - API Key: []
