:root {
    --alert-warning-background: #f88f00;
    --alert-info-background: #006cb5;
    --alert-danger-background: #ce283c;
    --alert-tip-background: #72d74d;
    --theme-switch-dark: #303030;
    --theme-switch-light: #ccc;
    --theme-switch-action: #fff;
    --scroll-track: #f1f1f1;
    --scroll-thumb: #888;
    --scroll-hover: #555;
    --tooltip-background: #555;
    --tooltip-text: #fff;
    --message-block: #707070;
    --status-success: #404040;
    --status-warning: #fff;
    --status-error: #fff;
    --main-menu-dropdown-width: 250px;
}

@font-face {
    font-family: 'Circular Pro Book';
    src: url("../fonts/Book/lineto-circular-pro-book.eot?") format("embedded-opentype");
    src: url("../fonts/Book/lineto-circular-pro-book.woff2?") format("woff2");
    src: url("../fonts/Book/lineto-circular-pro-book.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Bold';
    src: url("../fonts/Bold/lineto-circular-pro-bold.eot?") format("embedded-opentype");
    src: url("../fonts/Bold/lineto-circular-pro-bold.woff2?") format("woff2");
    src: url("../fonts/Bold/lineto-circular-pro-bold.woff?") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Black';
    src: url("../fonts/Black/lineto-circular-pro-black.eot?") format("embedded-opentype");
    src: url("../fonts/Black/lineto-circular-pro-black.woff2?") format("woff2");
    src: url("../fonts/Black/lineto-circular-pro-black.woff?") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Medium';
    src: url("../fonts/Medium/lineto-circular-pro-medium.eot?") format("embedded-opentype");
    src: url("../fonts/Medium/lineto-circular-pro-medium.woff2?") format("woff2");
    src: url("../fonts/Medium/lineto-circular-pro-medium.woff?") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Circular Pro Book', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    height: 100%;
    color: var(--colour-dark);
    font-size: 16px;
}

@media (min-width:1500px) {
    .container {
        width: 1470px
    }
}

body {
    background-color: var(--colour-background);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {

    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2 {
    font-family: 'Circular Pro Black', 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

h3,
.h3,
h4,
.h4 {
    font-family: 'Circular Pro Book', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 25px 0 15px 0;
    font-weight: 700;
}

h5,
.h5 {
    font-family: 'Circular Pro Book', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-size: 0.95em;
    margin: 25px 0 15px 0;
    font-weight: 700;
}

p {
    margin: 0 0 15px 0;
    line-height: 1.7rem;
}

.breadcrumb li>a {
    color: var(--colour-grey-1);
}

select {
    background-color: var(--colour-light-1);
    border-color: var(--colour-dark);
}

select {
    display: inline-block;
    overflow: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 30px 0 6px;
    vertical-align: middle;
    height: 28px;
    border: 1px solid var(--colour-light-grey-1);
    line-height: 16px;
    outline: 0;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, #707070 0), linear-gradient(135deg, #707070 50%, transparent 0);
    background-position: calc(100% - 13px) 11px, calc(100% - 8px) 11px;
    background-size: 5px 5px, 5px 6px;
    background-repeat: no-repeat;
}

article h1 {
    font-size: 2.4em;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;
}

article h2 {
    font-size: 1.65em;
}

.highlight {
    background-color: var(--colour-highlight);
}

article h4 {
    font-size: 1.2em;
    border: none;
    padding-bottom: 8px;
    margin-top: 30px;
}

button,
a {
    color: var(--colour-main);
    cursor: pointer;
    font-weight: normal;
}

a {
  overflow-wrap: break-word;
}

a:hover {
    color: var(--colour-link-hover);
    text-decoration: underline;
}

a:focus,
a:visited,
a:active {
    color: var(--colour-main);
    text-decoration: underline;
}

.sidetoc a {
    font-weight: normal;
}

article a {
    text-decoration: underline;
}

code {
    font-size: 16px;
    color: var(--colour-code-content);
    word-break: break-word;
    background-color: var(--colour-code-background);
    padding: 3px;
    border-radius: 3px;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

code:hover:not(.hljs) {
    background: var(--colour-grey-3);
    color: var(--colour-background);
}

table code {
    overflow-x: visible;
    word-break: normal;
}

pre {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    font-size: 13px;
    overflow-x: visible;
    word-break: normal;
}

pre code {
    white-space: pre;
}

.affix > ul.level1 {
    overflow: auto;
}

.affix>ul>li.active>a,
.affix>ul>li.active>a:before {
    color: var(--colour-main);
}

.affix ul>li.active>a,
.affix ul>li.active>a:before {
    color: var(--colour-main);
}

.affix ul ul>li>a:before {
    content: "|"
}

blockquote {
    font-size: 16px;
    width: 100%;
    margin: 22px auto;
    color: var(--colour-grey-2);
    padding: 20px 80px 15px 30px;
    border-left: 4px solid var(--colour-main);
    line-height: 1.7;
    position: relative;
    background: var(--colour-light-2);
    border-radius: 0px 10px 10px 0px;
}

@media all and (min-width: 1024px) {
    blockquote {
        font-size: 16px;
        margin: 30px auto;
    }
}

span.note-header {
    display: block;
    margin-bottom: 10px;
    color: var(--colour-grey-2);
    font-size: 17px;
    font-family: 'Circular Pro Black';
    font-weight: bold;
}

ol,
ul {
    margin: 12px 0 15px 0;
    padding-left: 32px;
}

ol li,
ul li {
    margin: 0 0 5px 0;
}

ol ol,
ul ol {
    list-style-type: lower-alpha;
    margin-top: 0;
    margin-bottom: 10px;
}

ol ul,
ul ul {
    list-style-type: circle;
    margin-top: 0;
    margin-bottom: 10px;
}

ol pre,
ul pre {
    margin: 15px 0 25px 0;
}

pre {
    margin: 20px 0 25px 0;
}

hr {
    margin: 30px 0;
    border-color: var(--colour-tab-border);
}

.sidenav,
.fixed_header,
.toc {
    background-color: var(--colour-background);
}

.theme-selector-nav {
    margin-top: 6px;
    text-align: right;
}

.theme-selector-title {
    margin-top: 7px;
}

@media all and (max-width: 768px) {
    /* .theme-selector-nav {
        display: none;
    } */
}

.navbar-inverse {
    background-color: var(--colour-top-nav);
    border-bottom: 0 none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: var(--colour-top-nav-link);
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: var(--colour-top-nav-link);
    margin-top: 4px;
}

.navbar-inverse .navbar-brand {
    padding-top: 6px;
    margin-top: 4px;
}

.navbar-nav li {
    margin: 0 0 0 15px;
}

.navbar-nav li:hover {
    background-color: var(--colour-tab-active);
}

.navbar-nav li.active,
.navbar-nav li.active:hover {
    border-bottom: 2px var(--colour-main) solid;
}

.navbar-default {
    background-color: var(--colour-nav-background);
    border-color: var(--colour-light-grey-6);
}

.replaced-svg {
    width: 91.69px !important;
    height: 40px !important;
    margin-top: 4px;
}

.navbar {
    padding: 1px;
    min-height: 40px;
}

.subnav {
    font-size: 11pt;
    height: 40px;
    border-bottom: 0 none;
}

/* Front Page Styles */

div.index-container {
    border: 1px solid var(--colour-main);
    display: grid;
    grid-template-columns: 33% 67%;
    width: 100%;
    grid-column-gap: 0%;
}

div.index-button {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid var(--colour-grey-4);
    height: 100px;
}

div.button-element {
    border: 1px solid var(--colour-grey-4);
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 100%;
}

div.button-element p {
    margin: 0;
}

/* API Ref Styles */

div.headercontainer {
    width: 100%;
    margin-bottom: 20px;
}

div.refcontainer {
    padding: 16px 12px;
    border: 2px solid var(--colour-light-grey-2);
}

div.refdivider:first-child {
    width: 100%;
}

div.refdivider:nth-child(2) {
    margin-right: 2%;
}

div.tabcontent div.refdivider:first-child {
    width: 49%;
    margin-right: 2%;
}

div.tabcontent div.refdivider:nth-child(2) {
    margin-right: 0;
}

div.refdivider {
    width: 49%;
    float: left;
}

/* SDK Ref Styles*/

div.inheritedMembers,
div.inheritance,
div.implements {
    font-size: 12px;
}

div.inheritedMembers h5,
div.inheritance h5,
div.implements h5,
h5.returns,
h5.parameters,
h5.declaration {
    font-family: 'Circular Pro Black', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    border-bottom: none;
    padding-bottom: 1.5px;
    padding-top: 5px;
}

h3#constructors,
h3#methods {
    margin-top: 40px;
    font-size: 1.5em;
    margin-bottom: 0;
}

article span.small.pull-right {
    display: none;
}

@media (width: 768px) {
    #sidetoggle.collapse {
        display: none;
    }

    #sidetoggle.collapse[aria-expanded="true"] {
        display: block;
    }
}

@media (min-width: 769px) {
    #sidetoggle.collapse {
        display: block;
    }
}

.article img {
    border: 1px solid var(--colour-tab-border);
    display: block;
    margin: 0 auto;
}

img.noborder {
    border: none;
}

.affix ul>li.active>a {
    color: var(--colour-main);
}

.sidetoc {
    background-color: var(--colour-background);
    border: 0 none;
    top: 155px;
}

div.toc {
    margin: 0;
    padding: 5px 0 15px 18px;
    background-color: var(--colour-background);
}

.toc .level1>li.active {
    background-color: var(--colour-background);
}

ul.level1 {
    margin-left: 0;
}

.toc .nav>li.active>a {
    color: var(--colour-darkest);
}

.toc .nav>li.active>a:hover {
    color: var(--colour-darkest);
}

.toc .level1 > li
.toc .level1>li,
.toc .level1>li>a {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.toc .level2>li>a:hover {
    text-decoration: underline;
}

.toc .level2>li {
    font-weight: normal;
    font-size: 0.9rem;
}

a.active,
a.active:hover {
    font-weight: normal;
}

.toc .nav > li > a {
    padding: 2px;
    word-break: normal;
}

.toc .nav>li>.expand-stub::before,
.toc .nav>li.active>.expand-stub::before {
    content: ">";
    color: var(--colour-grey-1);
}

.toc .nav>li.active>.expand-stub::before,
.toc .nav>li.in>.expand-stub::before,
.toc .nav>li.in.active>.expand-stub::before,
.toc .nav>li.filtered>.expand-stub::before {
    content: ">";
}

/*.toc .nav>li.active>.expand-stub,*/
.toc .nav>li.in>.expand-stub,
.toc .nav>li.in.active>.expand-stub,
.toc .nav>li.filtered>.expand-stub {
    transform: rotate(90deg);
}

ul.toc {
    padding-top: 5px;
}

ul.nav.level1,
ul.nav.level2,
ul.nav.level3 > li {
    font-size: 15px;
}

.sidefilter {
    background-color: var(--colour-background);
    border: 0 none;
    top: 102px;
}

.toc-filter {
    border: 1px solid var(--colour-search-border);
    border-radius: 3px;
    font-size: 0.875rem;
    background-color: var(--colour-search-background);
    color: var(--colour-dark);
}

.toc-filter>input {
    background-color: var(--colour-search-background);
}

.toc-filter:hover {
    border-color: var(--colour-main);
}

.toc-filter:active,
.toc-filter:focus {
    border: solid 1px var(--colour-main);
}

.toc-filter .filter-icon {
    color: var(--colour-light-grey-3);
}

.toc .nav>li>a:hover,
.toc .nav>li>a:focus {
    color: var(--colour-darkest);
    background: none;
    text-decoration: inherit;
}

.sideaffix>div.contribution>ul>li>a.contribution-link:hover {
    text-decoration: underline;
    background-color: var(--colour-background);
}

/*Tab styles*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--colour-tab-border);
    border-bottom: 0 none;
    width: auto;
    background-color: var(--colour-tab-header);
    position: relative;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: var(--colour-light-3);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 700;
    font-family: "Circular Pro Book";
    color: var(--colour-dark);
    transition: 0.4s all;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--colour-tab-active);
    transition: 0.4s all;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--colour-tab-active);
    color: var(--colour-main);
}

/* Style the tab content */
.requestTabContent,
.responseTabContent {
    display: none;
    padding: 16px 12px;
    border: 1px solid var(--colour-tab-border);
    background-color: var(--colour-tab-background);
}

button.staticTabButton {
    padding: 7px 16px;
    background-color: var(--colour-tab-active);
    color: var(--colour-dark);
    cursor: default;
}

.staticTabContent {
    display: block;
    padding: 0;
    border: 1px solid var(--colour-tab-border);
    margin-bottom: 20px;
}

.requestTabContent pre,
.responseTabContent pre,
.staticTabContent pre {
    margin: 0;
    border: 0 none;
}

/* Collapse styles*/
button.collapsible {
    background-color: var(--colour-light-grey-4);
    color: var(--colour-dark);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

button.activate,
.collapsible:hover {
    background-color: var(--colour-light-grey-2);
    color: var(--colour-main);
}

.collapsecontent {
    padding: 16px 12px;
    display: none;
    overflow: hidden;
    background-color: var(--colour-light-1);
    border: 2px solid var(--colour-light-grey-2);
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: var(--colour-light-1);
    float: right;
    margin-left: 5px;
}

.activate:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.copy {
    margin-left: 5px;
}

.copybutton {
    border: none;
    border-left: 1px solid var(--colour-light-grey-1);
    color: var(--colour-main);
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0 auto;
    padding: 9px;
    height: 100%;
    right: 0;
    position: absolute;
    min-width: 90px;
    transition: all 0.4s;
}

.copybutton:hover {
    background: var(--colour-main);
    color: var(--colour-light-1);
}

.copy-success,
.copy-success:hover,
.copy-success:active {
    background-color: var(--colour-success);
    color: var(--colour-light-1);
    cursor: default;
    transition: all 0.4s;
}

div.copycontent pre {
    margin: 0;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

div.copycontent pre:hover {
    border: 1px solid var(--colour-main);
    cursor: pointer;
}

div.copycontent {
    padding: 0;
}

div.tabcontent div.copycontent {
    padding: 0;
}

div.copyheader {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20px;
}

.collapsible h2 {
    margin: 0;
    display: inline-block;
    color: var(--colour-dark);
}

.collapsible h2:hover {
    color: var(--colour-dark);
}

div.table-responsive {
    padding: 0;
}

table.flowTable,
table.endpointTable {
    width: 100%;
    table-layout: fixed;
    margin: 10px 0 20px 0;
}

table.flowTable tr td {
    width: 50%;
    background-color: var(--colour-light-1);
    padding: 10px;
}

table.flowTable tr td pre {
    margin: 0;
    padding: 10px;
}

table.flowTable tr th {
    background-color: var(--colour-light-grey-4);
    padding: 10px;
}

/*Menu Buttons*/

div.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.15em solid var(--colour-dark);
    margin: 0 0.5em 1em 0.5em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Circular Pro Book', 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--colour-dark);
    text-align: center;
    transition: all 0.2s;
    width: 20%;
    max-height: 130px;
}

div.button1:hover {
    color: var(--colour-main);
    background-color: var(--colour-light-1);
}

@media all and (max-width:30em) {
    div.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 750px;
    margin: 30px auto 0;
    width: 100%;
}

@media all and (max-width: 768px) {
    .button-container {
        grid-template-columns: unset;
        grid-gap: unset;
        margin: unset;
    }
}

.button-container a,
.button-container a:hover,
.button-container a:visited {
    color: var(--colour-dark);
}

.homepage-container {
    word-break: keep-all;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 20px 20px 28px;
    user-select: none;
    text-decoration: none;
    float: left;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.11);
    background-color: var(--colour-light-4);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
}

.homepage-container:hover {
    -webkit-transform: scale(1.013);
    -ms-transform: scale(1.013);
    transform: scale(1.013);
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.homepage-container > p {
    padding: 0px;
    margin: 0;
}

.panel-header {
    font-size: 1.55em;
    margin-bottom: 10px;
    font-family: Circular Pro Black,Arial,sans-serif;
    display: block;
}

.homepage-container > p.panel-header {
    margin-bottom: 10px;
}

.anchorjs-link:hover {
    text-decoration: none;
}

.homepage-container:hover>h2 {
    color: var(--colour-main);
}

.homepage-container .anchorjs-link {
    display: none !important;
}

div.header-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}

@media all and (max-width: 768px) {
    div.header-container {
        padding: 5px 0;
    }
}

.text--header {
    font-size: 5em;
    line-height: 1.09;
    letter-spacing: -0.35625rem;
}

.text--underlined span {
    position: relative;
}

.text--underlined span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    background-color: var(--colour-main);
}

@media all and (max-width: 762px) {
    .text--underlined span:before {
        height: 4px;
        bottom: 10px;
    }
}

.text--center {
    text-align: center;
}

@media (min-width: 992px) {
    .text--underlined span:before {
        height: 9px;
        bottom: -4px;
    }
}

h1#big-header {
    font-size: 5em;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media all and (max-width: 768px) {
    h1#big-header {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.footer {
    border-top: 1px solid var(--colour-light-grey-6);
    background-color: var(--colour-light-grey-5);
}

/* syntax highlighting */
code,
code > div {
    font-family: var(--font-code);
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--code-light);
    font-family: var(--font-code);
    font-size: var(--code-size);
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: var(--code-default);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: var(--code-emphasis);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: var(--code-literal);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: var(--code-title);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-strong {
    font-weight: bold;
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-emphasis {
    font-style: italic;
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    color: var(--colour-main);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-symbol,
  .hljs-attribute {
    color: var(--code-attribute);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: var(--code-class);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: var(--code-variable);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }
  
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: var(--code-comment);
    font-family: var(--font-code);
    /*font-size: var(--code-size);*/
  }





/* /syntax highlight */
/* .hljs {
    color: var(--colour-code-base);
}

.hljs-tag {
    color: var(--colour-code-highlight-2);
}

.hljs-emphasis,
.hljs-quote,
.hljs-string,
.hljs-strong,
.hljs-template-variable,
.hljs-variable {
    color: var(--colour-code-highlight-1);
} */

pre {
    background-color: var(--colour-tab-background);
    border: 1px solid var(--colour-tab-border);
    border-radius: 0;
}

/* .hljs-attr,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-title {
    color: var(--colour-code-highlight-1);
} */

/* search */
#search-results>.search-list,
#search-results .item-title>a {
    font-family: "Circular Pro Black";
    color: var(--colour-dark);
}

.sr-item>.item-href {
    color: var(--colour-main);
}

.pagination>.active>a {
    background-color: var(--colour-main);
    border-color: var(--colour-main);
}

/*.pagination>.active>a,*/
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: var(--colour-dark);
    border-color: var(--colour-dark);
}

.pagination>li>a {
    color: var(--colour-main);
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: var(--colour-dark);
    background-color: var(--colour-light-grey-1);
    border-color: var(--colour-light-grey-2);
}

.mark,
mark {
    padding: unset;
    background-color: var(--colour-search-highlight);
    border-radius: 3px;
}

#search-query.form-control {
    background-color: var(--colour-light-1);
    border: 1px solid var(--colour-light-1);
}

#search-query.form-control:hover {
    border: 1px solid var(--colour-main);
}

.row-nomargin {
    margin-left: 0;
    margin-right: 0;
}

/*front matter*/
.page-metadata {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}

.page-metadata > li {
    list-style: none;
    display: flex;
    flex-basis: auto;
}

.page-metadata>li:not(:last-of-type):not(:only-of-type):after,
.page-metadata>li:first-of-type:after {
    padding-left: 5px;
    padding-right: 5px;
    content: "•";
}

.page-metadata>li.contributor-li:after {
    content: "" !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

img.img-circle.img-contributor {
    width: 1.3rem;
}

.page-stats {
    margin: 0 auto;
    font-size: 0.9rem;
    color: var(--colour-muted);
    margin-bottom: 10px;
}

ul.contributor-list {
    padding-left: 5px;
}

li.contributor-li {
    list-style: none;
    float: left;
}

.mermaid {
    text-align: center;
    font-family: 'Circular Pro Book' !important;
}

/* alerts */
/* .alert-warning {
    background-color: var(--alert-warning-background);
    color: var(--alert-warning);
    border-color: var(--alert-warning-border);
} */

.alert-info {
    background-color: var(--alert-info-background);
    color: var(--alert-info);
    border-color: var(--alert-info-border);
}

.alert-danger {
    background-color: var(--alert-danger-background);
    color: var(--alert-danger);
    border-color: var(--alert-danger-border);
}

.alert {
    font-size: 16px;
    width: 100%;
    margin: 22px auto;
    color: var(--colour-grey-2);
    padding: 20px 30px 15px 30px;
    border-left: 4px solid var(--colour-main);
    line-height: 1.7;
    position: relative;
    background: var(--colour-light-2);
    border-radius: 0px 10px 10px 0px;
    color: var(--colour-grey-2);
}

.alert-warning,
.alert-info,
.alert-danger {
    background-color: var(--colour-light-2);
    border: 0px none;
}

.TIP.alert.alert-info {
    border-color: var(--alert-tip-background);
}

.TIP.alert.alert-info > h5 {
    color: var(--alert-tip-background);
}

.alert-warning {
    border-left: 4px solid var(--alert-warning-background);
}

.alert-warning > h5 {
    color: var(--alert-warning-background);
}

.alert-info {
    border-left: 4px solid var(--alert-info-background);    
}

.alert-info > h5 {
    color: var(--alert-info-background);
}

.alert-danger {
    border-left: 4px solid var(--alert-danger-background);
}

.alert-danger > h5 {
    color: var(--alert-danger-background);
}

.table-bordered, 
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid var(--colour-background);
    vertical-align: middle;
}

.table-bordered > thead > tr > th {
    background-color: var(--table-header);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--table-row-alt);
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: var(--table-row);
}

.table-striped tr td:nth-child(1) { 
    white-space: nowrap;
}

.contract > table tr td:nth-child(1),
.contract > table tr td:nth-child(2) {
    white-space: nowrap;
} 

tr {
    vertical-align: middle;
}

/* code copy */
.copy-code-button {
    color: var(--colour-main);
    background-color: var(--code-light);
    border: 0px none;
    border-left: 1px solid var(--colour-tab-border);
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -2px;
    padding: 9px;
    min-width: 90px;
    font-size: 0.9em;
}

.copy-code-button:hover,
.copy-code-button:active,
.copy-code-button:focus {
    cursor: pointer;
    background-color: var(--colour-main);
    color: var(--colour-light-1);
}

.code-copy {
    background: var(--code-light);
    border: 1px solid var(--colour-tab-border);
}

.code-copy > pre {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid var(--colour-tab-border);
}

.copy {
    margin-left: 5px;
}

.copy-success,
.copy-success:hover {
    background-color: var(--colour-success);
    color: var(--colour-light-1);
    cursor: default;
    transition: all 0.4s;
}

/* tabs */
.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus {
    color: var(--colour-main);
    outline: 0 none;
}

.tabGroup a[role="tab"]:hover, .tabGroup a[role="tab"]:focus, .tabGroup a[role="tab"][aria-selected="true"] {
    border-bottom: 2px solid var(--colour-main);
}

.tabGroup section[role="tabpanel"] {
    border: 1px solid var(--colour-tab-border);
    padding: 15px;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.tabGroup a[role="tab"][aria-selected="true"] {
    color: var(--colour-main);
}

.tabGroup ul[role="tablist"] > li {
    list-style: none;
    display: inline-block;
    margin: 0;
}

/* theme switch */
.theme-switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 50px;
}
  
.theme-switch input {
    display:none;
}

.theme-switch-wrapper {
    margin-top: 12px;
    width: 50px;
    float: right;
  }
  
.slider {
    background-color: var(--theme-switch-light);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: var(--theme-switch-action);
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
}
  
input:checked + .slider {
    background-color: var(--theme-switch-dark);
}
  
input:checked + .slider:before {
    transform: translateX(24px);
}
  
.slider.round {
    border-radius: 25px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.spot {
    height: 15px;
    width: 15px;
    border: 1px solid var(--colour-spot-border);
    display: inline-block;
    border-radius: 100px;
    position: relative;
    top: 2px;
    left: 5px
}

.author-initials {
    text-transform: uppercase;
    background: var(--colour-tag-background);
    color: var(--colour-tag-text);
    border-radius: 50%;
    text-align: center;
}

ul.tags {
    display: inline-block;
    padding-left: 5px;
}

ul.tags > li {
    list-style-type: none;
    font-size: 0.8em;
    display: inline-block;
    background: var(--colour-tag-background);
    color: var(--colour-tag-text);
    border-radius: 4px;
    padding: 3px;
}

ul.tags > li:hover {
    cursor: pointer;
    background: var(--colour-tag-hover);
}

@media all and (min-width: 768px) {
    .toc .level2>li>a:hover {
      text-decoration: underline;
    }

    nav#autocollapse ul.nav.level1 li:hover ul.nav.level2 {
      display: inline;
    }

    nav#autocollapse ul.nav.level1 {
      position: relative;
      display: inline-block;
    }

    nav#autocollapse ul.nav.level2 {
      display: none;
      position: absolute;
      background-color: var(--colour-top-nav);
      min-width: var(--main-menu-dropdown-width);
      z-index: 1;
    }

    nav#autocollapse ul.nav.level2 li {
      margin-left: 0;
    }

    nav#autocollapse ul.nav.level2 li a {
      color: var(--colour-top-nav-link);
      font-size: 14px;
      font-weight: 400;
    }

    nav#autocollapse ul.nav.level2:hover {
      color: var(--colour-main);
    }
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration:none;
    background-color:var(--colour-tab-active);
    color: var(--colour-main) !important;
}

.contributor-li {
    position: relative;
}

/* Tooltip text */
.contributor-li .tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: var(--tooltip-background);
  color: var(--tooltip-text);
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -112px;
  opacity: 0;
  transition: opacity 0.4s;
}

.contributor-li .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-background) transparent transparent transparent;
}

.contributor-li:hover .tooltip-text {
  visibility: visible;
  opacity: 0.9;
}

/*landing pages*/
.global-spacer {
  padding: 20px 0 0 0;
}

.landing-container {
  padding: 0px 20px 20px 20px;
}

.dual-quad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 40px;
}

.right-column {
    display:none;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 30px auto 0;
  width: 100%;
}

.message-block {
  display: grid;
  text-decoration: none;
  grid-template-rows: 50px 1fr 24px;
  grid-row-gap: 5px;
  text-align: center;
  padding: 30px;
  background: rgba(0,0,0,.05);
  border-radius: 3px;
}
  
.message-block h4 {
  color: var(--message-block);
  margin-bottom: 0;
}
  
@media (max-width: 400px){
  .message-block h4 {
    font-size: 1em;
  }
}

.message-block:hover {
  text-decoration: none;
  background: rgba(0,0,0,.15);
}

@media (min-width: 998px){
  .dual-quad {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .right-column {
    display: block;
  }
  
  .two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .landing-container {
    padding: 0px 135px 20px 135px;
  }
  
  .header-info {
    padding: 0px 135px;
  }
}

.glyph-ul {
  list-style-type: none;
}

.icon-large {
  font-size: 65px;
}

.btn-primary {
    background-color: var(--btn-primary);
    border-color: var(--btn-primary-border);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus
 {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-border);
}

.code-success {
    color: var(--status-success);
    background-color: var(--alert-tip-background);
}

.code-warning {
    color: var(--status-warning);
    background-color: var(--alert-warning-background);
}

.code-error {
    color: var(--status-error);
    background-color: var(--alert-danger-background);
}

.user-email {
  text-align: right;
}

#user-email {
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .sidenav {
      margin-top: 25px;
  }

  .breadcrumb {
    white-space:nowrap;
    overflow: scroll;
  }

  .breadcrumb>li,
  .pagination {
    box-sizing: border-box;
    display: inline-block;
  }

  .navbar-nav li.active,
  .navbar-nav li.active:hover {
    border-bottom: 0px none;
  }

  .navbar-nav li:hover {
    background-color: var(--colour-background);
  }

  .nav .level2 {
    display: none;
  }

  .toc li:after {
    margin-left: 0;
    margin-right: 0;
    content: "";
  }

  .toc .level2 {
    font-weight: normal;
    margin: 0px;
    font-size: 14px;
  }

  div.toc {
    margin: 0;
    padding: 5px 0 15px 0px;
  }

  .toc .nav > li {
    display: block;
  }

  a.active, a.active:hover {
    background-color: var(--colour-background);
  }

  .toc .nav > li > ul {
    display: block;
  }

  .message-block {
    padding: 20px;
  }
}

.navbar-toggle .collapsed .top-bar,
.navbar-toggle .collapsed .middle-bar,
.navbar-toggle .collapsed .bottom-bar {
  transform: rotate(0);
  opacity: 1;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-toggle:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-toggle:not(.collapsed) .middle-bar {
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-toggle:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.fa, .fas {
    font-weight: 900;
    font-size: 65px;
    margin: 0 auto;
}

span.fa-li .fa, span.fa-li .fas, span.fa-li .far {
    font-size: 16px;
}